<h2>Vehicles</h2>
<input type="button" class="btn btn-primary" (click)="newVehicle()"value="New Vehicle">

<div class="form-group well">
  <label for="make">Make</label>
  <select id="make" class="form-control" [(ngModel)]="filter.makeId" (change)="onFilterChange()">
    <option value=""></option>
    <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
  </select>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th (click)="sortBy('make')">Make</th>
        <th (click)="sortBy('model')">Model</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let v of vehicles;">
      <td>{{v.id}}</td>
      <td>{{v.make.name}}</td>
      <td>{{v.model.name}}</td>
      <td>
        <input type="button" class="btn btn-primary" (click)="viewVehicle(v.id)" value="View">
        <input type="button" class="btn btn-warning" (click)="edit(v.id)" value="Edit">
        <input type="button" class="btn btn-danger" (click)="delete(v.id)"value="Delete">
      </td>
    </tr>
  </table>
</div>
