<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a routerLink="" class="pure-menu-link pure-menu-heading">Vega</a>
    <ul class="pure-menu-list" style="display:block">
        <li class="pure-menu-item"><a routerLink="vehicle/new" class="pure-menu-link">New Vehicle</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Messenger</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Sports</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Finance</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Autos</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Beauty</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Movies</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Small Business</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Cricket</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Tech</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">World</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">News</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Support</a></li>
    </ul>
  </div>